body{
    color: #82a5ca;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.btn{
   padding: 6px 12px;
   background-color: white;
   border: none;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
   color: #82a5ca;
}

.underline{
    border-bottom: 3px solid white;
}

#logo{
    width:200px;
}

.hero{
    background-image: url("images/galaxy.webp"); 
    background-size: cover;
    padding: 100px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.terms{
    font-size: 30px;
}